<?xml version="1.0"?>
<config>
    <modules>
        <Zodinet_Momo>
            <version>0.1.0</version>
        </Zodinet_Momo>
    </modules>
    <frontend>
        <routers>
            <momo>
                <use>standard</use>
                <args>
                    <module>Zodinet_Momo</module>
                    <frontName>momo</frontName>
                </args>
            </momo>
        </routers>
    </frontend>
    <admin>
        <routers>
			<momo>
				<use>admin</use>
				<args>
					<module>Zodinet_Momo</module>
					<frontName>momo</frontName>
				</args>
			</momo>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Zodinet_Momo>
							<title>Momo Module</title>
							<sort_order>10</sort_order>
						</Zodinet_Momo>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>   
    <global>
        <models>
            <momo>
                <class>Zodinet_Momo_Model</class>
                <resourceModel>momo_mysql4</resourceModel>
            </momo>
            <momo_mysql4>
                <class>Zodinet_Momo_Model_Mysql4</class>
                <entities>
                    <momo>
                        <table>momo</table>
                    </momo>
                    <queue>
                        <table>momo_queue</table>
                    </queue>
                </entities>
            </momo_mysql4>
        </models>
        <resources>
            <momo_setup>
                <setup>
                    <module>Zodinet_Momo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </momo_setup>
            <momo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </momo_write>
            <momo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </momo_read>
        </resources>
        <blocks>
            <momo>
                <class>Zodinet_Momo_Block</class>
            </momo>
        </blocks>
        <helpers>
            <momo>
                <class>Zodinet_Momo_Helper</class>
            </momo>
        </helpers>
    </global>

    <crontab>
        <jobs>
            <momo_queue_push>
                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
                <run>
                    <model>momo/observer::checkOrderStatus</model>
                </run>
            </momo_queue_push>
        </jobs>
    </crontab>

	<default>
        <payment>    
	       <momo>
                <active>1</active>
                <model>momo/momo</model>
                <order_status>pending</order_status>
                <title><![CDATA[Momo]]></title>
                <description><![CDATA[Momo]]></description>
                <checkout_type>1</checkout_type>
                <allowspecific>0</allowspecific>
                <group>momo</group>
                <payment_action>Sale</payment_action>
                <gateway><![CDATA[https://payment.momo.vn:443/gw_payment/transactionProcessor]]></gateway>
                <is_test_mode>1</is_test_mode>
                <test_gateway><![CDATA[https://payment.momo.vn:18081/gw_payment/transactionProcessor]]></test_gateway>
                <test_access_key><![CDATA[F8BBA842ECF85]]></test_access_key>
                <test_serect_key><![CDATA[K951B6PE1waDMi640xX08PD3vg6EkVlz]]></test_serect_key>
                <test_partner_code><![CDATA[MOMO]]></test_partner_code>
                               
            </momo>
         </payment>
    </default>
</config>