<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <netpowermomo>
                <payment_action>authorize</payment_action>
                <model>Netpower\Momo\Model\PaymentMethod</model>
                <active>1</active>
                <test_mode>1</test_mode>
                <title>MoMo</title>
                <merchantnent_id_test>MOMOUHFY20190218</merchantnent_id_test>
                <access_key_test>mSYUgbdLmLOFku7V</access_key_test>
                <secret_key_test>XtbT0tyiEXgZ5vL4ijrfosVCl4CYNk8z</secret_key_test>
                <api_endpoint_test>https://test-payment.momo.vn/gw_payment/transactionProcessor</api_endpoint_test>
                <order_status>pending_payment</order_status>
            </netpowermomo>
        </payment>
    </default>
</config>